# Data Science Tools and Ecosystem using H1 style heading

In this notebook, Data Science Tools and Ecosystems are summarized.

## Author
Tim Bushnell

**Objectives:**
- List popular languages
- List common libraries used
- Table of Tools
- Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientsts use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumbPy
3. SciPy
4. Pandas
5. Matplotlib
6. Keras

| Data Science Tools |
| ----------- |
| RStudio |
| Apache Spark |
| TensorFlow |
| Apache Hadoop |
| RapidMiner |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335